<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HospitalProjectTry2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.nt.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.nt.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet1</display-name>
    <servlet-name>DoctorServlet1</servlet-name>
    <servlet-class>com.nt.doctor.DoctorServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet1</servlet-name>
    <url-pattern>/DoctorServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet2</display-name>
    <servlet-name>DoctorServlet2</servlet-name>
    <servlet-class>com.nt.doctor.DoctorServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet2</servlet-name>
    <url-pattern>/DoctorServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServlet1</display-name>
    <servlet-name>PatientServlet1</servlet-name>
    <servlet-class>com.nt.patientStatus.PatientServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet1</servlet-name>
    <url-pattern>/PatientServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSevlet1</display-name>
    <servlet-name>RegisterSevlet1</servlet-name>
    <servlet-class>com.nt.register_servlet.RegisterSevlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSevlet1</servlet-name>
    <url-pattern>/RegisterSevlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSessionServlet1</display-name>
    <servlet-name>BookSessionServlet1</servlet-name>
    <servlet-class>com.nt.BookSession.BookSessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSessionServlet1</servlet-name>
    <url-pattern>/BookSessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.nt.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientStatus</display-name>
    <servlet-name>PatientStatus</servlet-name>
    <servlet-class>com.nt.patientStatus.PatientStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientStatus</servlet-name>
    <url-pattern>/PatientStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPatient</display-name>
    <servlet-name>ViewAllPatient</servlet-name>
    <servlet-class>com.nt.allpatient.ViewAllPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatient</servlet-name>
    <url-pattern>/ViewAllPatient</url-pattern>
  </servlet-mapping>
</web-app>